# Ignore compiled files
*.o
*.exe
*.class

# Ignore build and temp files
/build/
/temp/
/raylib/
/include/
*.log

# Ignore IDE files
.vscode/
.idea/
.DS_Store

# Ignore raylib header file
raylib.h

# Ignore all DLL files
*.dll

# Ignore game executable
game